.input {
  height: 40px;
  min-width: 200px;
  font-size: 20px;
  margin-bottom: 40px;
}

.inputLabel {
  display: inline-block;
  display: flex;
}

.inputLabelText {
  margin-right: 15px;
  min-width: 150px;
  line-height: 40px;
  display: inline-block;
}

.showValidity:invalid {
  border: 2px solid red;
}

.showValidity:valid {
  border: 2px solid green;
}
